:root {
  /* 基础色，主题色*/
  --white: 255, 255, 255;
  --black: 18, 18, 18;
  --primary: rgba(49, 175, 42, 1);
  --primary-secondary: rgba(49, 175, 42, 0.3);

  /* 黑色字 */
  --black-text-primary: rgba(var(--black), 0.9);
  --black-text-secondary: rgba(var(--black), 0.66);
  --black-text-tertiary: rgba(var(--black), 0.46);

  /** 白色字 */
  --white-text-primary: rgba(var(--white), 0.9);
  --white-text-secondary: rgba(var(--white), 0.66);
  --white-text-tertiary: rgba(var(--white), 0.46);

  /** 填充色 */
  --fill-black: rgba(var(--black), 0.95);
  --fill-white: rgba(var(--white), 1);
  --fill-gray: #f0f1f5;
  --fill-button: #f9f9f9;
  --fill-button-hover: #eee;

  --box-shadow:
    0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
  --border: #f0f0f0;
}
