.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  header {
    flex: 0 0 auto;
    padding: 10px 30px;
    font-family: 'chill_pixels';
    font-size: 36px;
    line-height: 2;
    color: var(--primary);
  }
  .content {
    flex: 1;
    padding: 0 30px 20px;
  }
  .title {
    margin-right: 10px;
  }
  .tag {
    color: var(--white-text-primary);
    padding: 6px 13px 9px;
    margin-right: 12px;
    cursor: pointer;
    border-radius: 2px;
    &:hover,
    &.tag-active {
      background: var(--primary-secondary);
      color: var(--primary);
    }
  }
}

.container {
  height: 100%;
  flex: 1 0 auto;
  display: flex;
  background: var(--fill-white);
  border-radius: 10px;
  .container-editor {
    flex: 0 0 420px;
  }
  .container-renderer {
    flex: 1;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    height: calc(100vh - 120px);
  }
}
