.home {
  display: flex;
  height: 100%;
  flex-direction: column;
  header {
    flex: 0 0 auto;
    padding: 20px;
  }
  .title {
    margin-right: 20px;
  }
  .tag {
    border: 1px solid #eee;
    padding: 6px 13px;
    border-radius: 20px;
    margin-right: 12px;
    cursor: pointer;
    &:hover {
      background: #eee;
    }
  }
  .tag-active {
    background: #eee;
  }
}

.container {
  flex: 1 0 auto;
  display: flex;
  height: calc(100vh - 60px);
  .container-editor {
    flex: 0 0 500px;
    padding: 0 20px;
  }
  .container-renderer {
    flex: 1;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    padding: 0 20px 60px 20px;
  }
}
