:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'chill_pixels';
  src: url('./assets/font/chill_pixels.otf');
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--fill-black);
}

.panel {
  display: flex;
  align-items: center;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  background: var(--fill-button);
}
button:hover,
button:focus,
button:focus-visible {
  background: var(--fill-button-hover);
}
